<!-- -->
<launch>
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='timeout' default='2'/>
  <arg name="role_name" default="ego_vehicle" />

  <param name="/carla/host" value="$(arg host)" />
  <param name="/carla/port" value="$(arg port)" />
  <param name="/carla/timeout" value="$(arg timeout)" />

  <node pkg="carla_route_planner" type="carla_route_planner.py" name="carla_route_planner" output="screen">
    <param name="role_name" value="$(arg role_name)" />
  </node>

</launch>

